<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>Bienvenue sur le site de la communauté de <em>The Hacking Project</em> !</h1>
    <div>
      <p>Il se passe plein de choses à Paris, Lyon, Montpellier, Bordeaux et ce site va te permettre de connaître tous les potins sur tes camarades moussaillons.</p>
      <p><a href="/gossips/all/">La liste des potins!</a></p>
      <p><a href="/gossips/new/">Ajoute un nouveau potin à la base</a></p>
    </div>
  </body>
</html>
